<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>
    <script>
        function confirmDelete(studentId) {
            if (confirm("Are you sure you want to delete this student?")) {
                window.location.href = '/delete/' + studentId;
            }
        }
    </script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Student Management System</h1>
    <form action="/add" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        <label for="grade">Grade:</label>
        <input type="text" id="grade" name="grade" required>
        <label for="reg">Reg No:</label>
        <input type="number" id="reg" name="reg" required>
        
        <button type="submit">Add Student</button>
    </form>
    <h2>Students</h2>
    <ul>
        {% for student in students %}
            <li>{{ student[1] }} - Age: {{ student[2] }} - Grade: {{ student[3] }} RegNo: {{ student[4]}}
                <a style="margin-right: 10%" href="#" onclick="confirmDelete( {{student[0]}})">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
